<p>dish works!</p>
<form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Nombra tu plato</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">que tipo de comida es?</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>asiatica</option>
        <option>alemana</option>
        <option>italiana</option>
        <option>latina</option>
        <option>española</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Describe brevemente tu plato</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>